
.top-menu {
    background: #581845;
    padding: 2px 15px;    
}

#text {
  text-align: center;
  color: white;
}

.button {
  background-color: black; 
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}